// Charte Graphique
// font-family: 'Montserrat', sans-serif;
// font-family: 'Shrikhand', cursive;
$green = #18bc9c
$blue = #6B8BA0
$section = #8FD6CB
$grey = #DEE7EB

$titlefont = 'Shrikhand', cursive
$bodyfont = 'Montserrat', sans-serif
