// Charte Graphique
// font-family: 'Montserrat', sans-serif;
// font-family: 'Shrikhand', cursive;
$title = #18bc9c
$footer = #6B8BA0
$section = #8FD6CB
$body = #DEE7EB

$titlefont = 'Shrikhand', cursive
$bodyfont = 'Montserrat', sans-serif
