@require "app/styles/style"

.post
  cursor: pointer
  line-height: 1.4
  padding: 5%
  width: 50%


  &:hover
    background: $section

  &-title
    color: $blue
    font-family: $titlefont
    font-size: 1.4em
    text-transform: uppercase

  &-category
    background: $green
    color: white
    display: inline-block
    font-size: .6em
    letter-spacing: .1em
    margin: .25em 0 .5em
    padding: .5em .75em
    text-transform: uppercase

  &-excerpt
    color: $blue
    font-weight: 400

  @media (max-width: $phone)
    width: 100%
