@require "app/styles/style"

#header
    padding: 4em 2em 2em
    text-align: center

.header
    &-category
        color: $title
        cursor: pointer
        display: inline-block
        margin: 0 1em
        text-decoration: underline
        &:hover
            color:red
