@require "app/styles/style"

#header
    background-color: $grey
    padding: 4em 2em 2em
    text-align: center

.header
    &-category
        background-color: $green
        border-radius: 1em 1em
        color: white
        cursor: pointer
        display: inline-block
        font-weight: 700
        margin: 0 1em
        padding: .8em
        text-decoration: underline
        &:hover
            color:$blue
